.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    min-height: 100vh;
}

.text-section {
    flex: 0 0 45%;
    text-align: left;
    padding-left: 5%;
    padding-bottom: 15%;
}

.text-section h1 {
    font-size: 6em; 
    font-weight: 1000; 
    line-height: 0.3;
}

.text-section h2 {
    font-size: 3em;
    font-weight: 900;
}

.subtitle {
    font-size: 1.2em;
}

.image-section {
    /* flex: 1; */
    text-align: right;
    padding-left: 10px;
    padding-bottom: 20%;
}

.image-section img {
    width: auto;
    max-height: 80vh;
    margin: auto;
    margin-bottom: 10%;
}

@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        text-align: center;
    }

    .text-section, .image-section {
        flex: 1 0 auto;
        text-align: center;
        padding-left: 0;
    }

    .image-section img {
        max-width: 70%;
        margin-top: 20px;
    }
}

.external-links a {
    padding: 2%;
    color: inherit;
    justify-content: center;
    margin-top: 10px;
}

.external-links a:hover {
    box-shadow: 0 6px 12px;
}

.external-links .icon-container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.link-text {
    visibility: hidden;
    width: auto;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(220%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.icon-container:hover .link-text {
    visibility: visible;
    opacity: 1;
}

/* .resume-button {
    display: inline-block;
    padding: 2px 4px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.resume-button:hover {
    background-color: #3a5ecb;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
} */
